<div fxLayout="column" fxLayoutAlign="center center">
  <div>
    <mat-button-toggle-group (change)="OnChange($event)">
      <mat-button-toggle value="ind">
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title>Exologistica</mat-card-title>
          </mat-card-header>
          <img class="img" mat-card-image src="/assets/exologistica.png">
        </mat-card>
      </mat-button-toggle>
      <mat-button-toggle value="dir">
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title>Directa</mat-card-title>
          </mat-card-header>
          <img class="img" mat-card-image src="/assets/directa.png">
        </mat-card>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <mat-form-field [formGroup]="globalForm.DeliveryTo">
    <input matInput formControlName="DeliveryPlace" readonly>
    <mat-hint>Seleccione un lugar de entrega</mat-hint>
    <mat-error>Seleccione un lugar de entrega</mat-error>
  </mat-form-field>
</div>
