<a (click)="pass()">asdf</a>
<form [formGroup]="fgroup">
  <ng-container cdkDropListGroup>
    <div cdkDropList [cdkDropListData]="todo" class="example-list">
      <div class="example-container">
        <h2>To do</h2>
        <div class="example-container" *ngFor="let item of todo" cdkDrag>{{item.title}}</div>
      </div>

    </div>Remito
    <ng-container  formArrayName="Remito" 
    *ngFor="let group of done; let i=index">
      <div cdkDropList class="example-list" [cdkDropListData]="group" (cdkDropListDropped)="drop($event)">
        <div class="example-container">
          <h2>Done</h2>
          <div class="example-box" *ngFor="let item of group" cdkDrag>{{item.title}}</div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</form>