<a (click)="pass()">asdf</a>
<ng-container cdkDropListGroup>
  <div cdkDropList [cdkDropListData]="todo" class="example-list" (cdkDropListDropped)="drop($event)">
    <div class="example-container">
      <h2>To do</h2>
      <div class="example-container" *ngFor="let item of todo" cdkDrag>{{item.title}}</div>
    </div>

  </div>
  <ng-container *ngFor="let group of done; let i=index">
    <div cdkDropList class="example-list" [cdkDropListData]="group" (cdkDropListDropped)="drop($event)"
      (cdkDropListEntered)="dropListEntered($event)" (cdkDropListExited)="dropListExited($event)">
      <div class="example-container">
        <h2>Done</h2>
        <div class="example-box" *ngFor="let item of group" cdkDrag>{{item.title}}</div>
      </div>
    </div>
  </ng-container>

</ng-container>


<button mat-fab color="primary" matStepperPrevious class="fixed-step-buttom-left">
  <span class="k-icon k-i-arrow-chevron-left"></span>
</button>
<button mat-fab color="primary" matStepperNext class="fixed-step-buttom-right">
  <span class="k-icon k-i-arrow-chevron-right"></span>
</button>