{{ GlobalForm.value | json }}
<mat-horizontal-stepper [linear]='true' #stepper>
    <mat-step [editable]="false">
        <ng-template matStepLabel>Seleccione la sociedad</ng-template>
        <app-step4></app-step4>
      </mat-step>
  
  <mat-step [stepControl]="GlobalForm.get('Company')" [editable]="false">
    <ng-template matStepLabel>Seleccione la sociedad</ng-template>
    <app-choose-company></app-choose-company>
  </mat-step>

  <mat-step [stepControl]="GlobalForm.get('DeliveryPlaceFormGroup')" [editable]="false">
    <ng-template matStepLabel>Seleccione lugar de entrega</ng-template>
    <app-delivery-place></app-delivery-place>
  </mat-step>

  <ng-container *ngFor="let tab of steps">
    <mat-step [stepControl]="this.GlobalForm.get(tab.fgroup)">
      <ng-template matStepLabel>{{tab.Title}}</ng-template>
      <ng-container *ngComponentOutlet="tab.Component">
      </ng-container>
    </mat-step>
  </ng-container>

  <ng-template matStepperIcon="edit">
    <span class="k-icon k-i-edit"></span>
  </ng-template>

  <ng-template matStepperIcon="done">
    <span class="k-icon k-i-check"></span>
  </ng-template>

</mat-horizontal-stepper>
<button mat-fab color="primary" (click)="goBack(stepper)" class="fixed-step-buttom-left"
type="button" [disabled]="stepper.selectedIndex === 0">
  <span class="k-icon k-i-arrow-chevron-left"></span>
</button>
<button mat-fab color="primary" (click)="goForward(stepper)" class="fixed-step-buttom-right"
>

<!-- [disabled]="stepper.selectedIndex === stepper.steps.length - 1" -->
  <span class="k-icon k-i-arrow-chevron-right"></span>
</button>