
:host ::ng-deep  .mat-step-icon-state-edit  {
    background-color: #37b400; 
    color:white;
 }

 :host ::ng-deep  .mat-step-icon-state-done  {
    background-color: #37b400; 
    color:white;
 }

 :host ::ng-deep .mat-horizontal-content-container {
    margin: auto 10%;
 }