

.mat-card {
    background-color: #f2f2f2;
    color: black !important;
  }
  fieldset {
    height: 100px;
    background-color: #fff;
  }
  
  .full-width {
    width: 100%;
  }
  
  fieldset legend {
    color: #000;
  }