mat-drawer {
    max-width: 45%;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

mat-drawer-container {
    height: 475px;
    border: 1px solid #e0e0e0;
    background: #e5ddd559;
}

mat-toolbar {
    max-height: 40px;
}
mat-toolbar a {
    text-decoration: underline;
    color:blue;
}
.sub-tool-bar {
    font-size:12px;
    background: white;
}
.mat-radio-label-content {
    /* padding-left: 8px; */
    padding-right: 7.5px !important;
}

mat-card {
    border-bottom: 0.75px solid #e0e0e0;
    padding: 0px !important;     
    margin:10px;    
}
mat-card-header {
    padding: 5px;
    margin-bottom: -20px;
}
mat-card-header .mat-card-avatar button {
    margin-top: 25px;
}

mat-card-subtitle p {
    margin: 0px;
}

mat-card-content {
    padding-left: 60px;
}

mat-card-content .k-numerictextbox , mat-card-content .k-numeric-wrap {
    width:75px;
}
mat-card-content > * {
    display: inline;
}

.selected {
    border: 2px solid #3f51b5;
}

mat-list-item {
    display: initial !important;
    height: 25px !important;
}
mat-list-item p{
    padding: 10px;
}
.mat-list-item-content {
    width: 100%;
    font-size: 12px;
}

.mat-card-header .mat-card-title {
    font-size: 15px;
    width: 100%;
}

.k-icon-20 {
    font-size: 20px;
    color: #c1c1c1;
    margin-top: 15px;
}
    .box {
    background-color:white;
	width: 250px;
	padding: 10px;
	text-align: justify;
    border: 3px dashed #ccc;
    margin: 5px auto;
    width: 90%;
    justify-content: center;
    }  
    .dropeable {
        min-height: 100px;
    }

    .box .right {
        margin-top:0px;
    }
 
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .cdk-drop-dragging .cdk-drag {
    transition: transform 350ms cubic-bezier(0, 0, 0.2, 1);
  }
  .cdk-drag-animating {
    transition: transform 350ms cubic-bezier(0, 0, 0.2, 1);
  }
  .cdk-drag-placeholder {
    background: rgba(0, 0, 0, .2);
  }

  .dot {
    height: 7px;
    width: 7px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    margin: 7px;
  }

  .k-i-close {
      color:red;
  }

  .ok {
    color: green;
  }
  .error {
    color : red;
  }