<mat-horizontal-stepper [linear]="true" [selectedIndex]=2 #stepper>
  <mat-step>
    <ng-template matStepLabel>Selecciones compañia</ng-template>
    <app-step1 [group]="step1"></app-step1>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Seleccione lugar de entrega</ng-template>
    <app-step2 [group]="step2"></app-step2>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Complete el formulario</ng-template>
    <app-step4></app-step4>
  </mat-step>
  <!-- <mat-step><ng-container appStep [highlightColor]="step4"></ng-container></mat-step> -->
  <!-- <ng-container *ngFor="let tab of steps">
    <mat-step>
      <ng-template #steps></ng-template>
        <ng-template matStepLabel>{{tab.title}}</ng-template>
        <ng-container *ngComponentOutlet="tab.component">
        </ng-container>
       
    </mat-step>
  </ng-container> -->
  <mat-step>
    <ng-template matStepLabel>Finalizar</ng-template>
    <button mat-fab color="primary" matStepperPrevious class="fixed-step-buttom-left">
      <span class="k-icon k-i-arrow-chevron-left"></span>
    </button>
    <button mat-fab class="fixed-step-buttom-left" (click)="finish()">
    </button>
  </mat-step>

</mat-horizontal-stepper>