<mat-horizontal-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="step1">      
    <ng-template matStepLabel>Selecciones compañia</ng-template>
    <app-step1 [group]="step1"></app-step1>
  </mat-step>
  <mat-step [stepControl]="step2">
    <ng-template matStepLabel>Seleccione lugar de entrega</ng-template>
    <app-step2 [group]="step2"></app-step2>
  </mat-step>
  <mat-step [stepControl]="step3">
    <ng-template matStepLabel>Seleccion materiales a entregar</ng-template>
    <div>
      <button mat-fab color="primary" matStepperPrevious class="fixed-step-buttom-left">
        <span class="k-icon k-i-arrow-chevron-left"></span>
      </button>
      <button mat-fab color="primary" matStepperNext class="fixed-step-buttom-right">
        <span class="k-icon k-i-arrow-chevron-right"></span>
      </button>

    </div>
  </mat-step>
  <mat-step [stepControl]="step4">
    <ng-template matStepLabel>Complete el formulario</ng-template>
    <div>
      <button mat-fab color="primary" matStepperPrevious class="fixed-step-buttom-left">
        <span class="k-icon k-i-arrow-chevron-left"></span>
      </button>
      <button mat-fab color="primary" matStepperNext class="fixed-step-buttom-right">
        <span class="k-icon k-i-arrow-chevron-right"></span>
      </button>

    </div>
  </mat-step>
  <mat-step [stepControl]="step5">
    <ng-template matStepLabel>Finalizar</ng-template>
    <div>
      <button mat-fab color="primary" matStepperPrevious class="fixed-step-buttom-left">
        <span class="k-icon k-i-arrow-chevron-left"></span>
      </button>
      <button mat-raised-button style="background-color: green" (click)="finish()" class="fixed-step-buttom-right">Finalizar</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
