.mat-step-icon-state-edit {
  background-color: #37b400 !important;
  color: white;
}

.mat-step-icon-state-done {
  background-color: #37b400 !important;
  color: white;
}

.mat-horizontal-content-container {
  margin: auto 5%;
}

mat-horizontal-stepper .mat-step-header {
  height: 55px;
}

.mat-horizontal-stepper-header{
  pointer-events: none;
}