<mat-horizontal-stepper [linear]='true' #stepper (selectionChange)="OnChangeStep($event)">    
  
  <ng-container *ngFor="let tab of steps">
    <mat-step>
      <ng-template matStepLabel>{{tab.Title}}</ng-template>
      <ng-container *ngIf="tab.Selected == true">
          <ng-container  *ngComponentOutlet="tab.Component">
        </ng-container>
      </ng-container>
    </mat-step>
  </ng-container>

  <ng-template matStepperIcon="edit">
    <span class="k-icon k-i-edit"></span>
  </ng-template>

  <ng-template matStepperIcon="done">
    <span class="k-icon k-i-check"></span>
  </ng-template>

</mat-horizontal-stepper>