<div fxLayout="column" fxLayoutAlign="center center">
  <form [formGroup]="group">
    <mat-label>Seleccione una compañia:</mat-label>
    <mat-form-field>
      <mat-select formControlName="firstCtrl">
        <mat-option value="10px">10px</mat-option>
        <mat-option value="12px">12px</mat-option>
        <mat-option value="14px">14px</mat-option>
        <mat-option value="16px">16px</mat-option>
        <mat-option value="18px">18px</mat-option>
        <mat-option value="20px">20px</mat-option>
      </mat-select>
      <mat-error>Por favor seleccione una compañia</mat-error>
    </mat-form-field>
  </form>
</div>
<button mat-fab color="primary" matStepperNext class="fixed-step-buttom-right">
  <span class="k-icon k-i-arrow-chevron-right"></span>
</button>
