/* You can add global styles to this file, and also import other style files */

html,
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

}


* {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@import '~@angular/material/theming';
// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config(
  $font-family: 'Roboto, "Helvetica Neue", sans-serif',
  $display-4:     mat-typography-level(50px, 112px, 300),
  $display-3:     mat-typography-level(40px, 56px, 400),
  $display-2:     mat-typography-level(35px, 48px, 400),
  $display-1:     mat-typography-level(30px, 40px, 400),
  $headline:      mat-typography-level(20px, 32px, 400),
  $title:         mat-typography-level(18px, 32px, 500),
  $subheading-2:  mat-typography-level(14px, 28px, 400),
  $subheading-1:  mat-typography-level(13px, 24px, 400),
  $body-2:        mat-typography-level(11px, 20px, 400),
  $body-1:        mat-typography-level(11px, 16px, 300),
  $caption:       mat-typography-level(12px, 20px, 400),
  $button:        mat-typography-level(14px,  14px, 500),
  $input:         mat-typography-level(12px, 1.125, 400)
);
@include mat-core($custom-typography);
@import "~@progress/kendo-theme-default/scss/grid";

.k-grid td {
  padding: 10px 0px;
  outline: 0;
  font-weight: inherit;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
  font-size: 11px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  border-bottom-width: 1;

}

.k-grid-header .k-header:not(.k-widget) {
  font-size: 11px;
  font-weight: 500;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #656565;
  background-color: #f2f2f2;
}

.k-grid table,
.k-grid .k-grid-header-wrap {
  box-sizing: content-box;
  line-height: 1.25;
}

.k-grid th {
  text-align: center;
  padding: 16px 0;
}

.k-grid a {
  color: #337ab7;
}

a.k-link.k-state-selected {
  background-color: #337ab7;
}

.clickable {
  cursor: pointer;
}

.unclickable {
  cursor: default;
}




.mat-button-toggle-checked {
  background: #4cc3beb3;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  text-align: center;
}

.spacer {
  flex: 1 1 auto;
}

.fixed-step-buttom-left {
  position: fixed !important;
  top: 330px;
  float: left;
  left: 20px
}

.fixed-step-buttom-right {
  position: fixed !important;
  right: 20px;
  top: 330px;
  float: right;
}
